body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2d5;
    margin: 0;
    padding: 0;
    background-image: url(Screenshot\ 2023-10-20\ 093143.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
h2 {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    color: black;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: #222;
    color: #fff;
}

h1 {
    margin-top: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    margin: 20px;
    font-size: 18px;
    line-height: 1.5;
    
}